# dependencies
node_modules/

# production
dist/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# coverage
coverage/